<?xml version="1.0" encoding="UTF-8"?>

<!--
  PHP Unit to invoke unit test cases and configuration
-->


<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Laravel Repository Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="./docs/quality_report/test_coverage/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:Fbaz/peLgPoNPPpK6TjNB9NOq7MIz4PcUr8FBxFXJ90="/>
        <env name="LOG_CHANNEL" value="stack"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_DATABASE" value="thenandan"/>
    </php>
</phpunit>
